@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #e4e4e4;
}

.btn{
  position: relative;
  display: inline-flex;
  padding: 10px 30px;
  background-color: #c8c8c8;
  color : #fff;
  border: 1px solid #000000;
  border-radius: 999px;
  text-decoration: none;
  letter-spacing: 1px;
  overflow: hidden;
}

.btn:hover span{
  transform: scale(1.1);
}

.btn span{
  position: relative;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.btn::before{
  content: '';
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: #000000;
  transition: width 0.5s, height 0.5s;
}

.btn:hover::before{
  width: 300px;
  height: 300px;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.text-outliner{
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  -webkit-text-fill-color:transparent;
  -webkit-text-stroke: 1px black;
}